body {
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 40px;
}

h1 {
    color: #2c3e50;
    font-size: 36px;
    text-align: center;
}

h2 {
    color: #34495e;
}

p, li {
    font-size: 18px;
}

img {
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid #555;
}

footer {
    margin-top: 40px;
    padding: 10px;
    background: #ddd;
    text-align: center;
    font-style: italic;
}
